---

import Layout from "~/components/layouts/Layout.astro";
import ButtonLink from "~/components/ui/ButtonLink.astro";
import {getHomepagePath} from "~/path.ts"

---
<Layout
	title="Homepage"
	description=""
	url=""
	image=""
>
	<h1>Servizi</h1>
	<div>
		<ButtonLink href={getHomepagePath()} variant="secondary" />
	</div>
</Layout>


